
.main{
    margin-top: 200px;
    width:1400px;
    background-image: url(/image/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 300px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.photo1{
    cursor: pointer;
    transition: 0,2s;
}
.photo1:hover {
    transform: scale(1.05);
}
.image1{
    background-image: url(/image/photo_2021-03-10_17-52-58.jpg);
    background-size: 498px 846px;
}
.image2{
    background-image: url(/image/photo_2022-07-15_23-08-05.jpg);
    background-size: 498px 846px;
}
.image3{
    background-image: url(/image/photo_2022-07-17_22-58-52.jpg);
    background-size: 498px 846px;
}
.image4{
    background-image: url(/image/photo_2023-05-25_19-41-15.jpg);
    background-size: 498px 846px;
}
.image5{
    background-image: url(/image/photo_2023-07-18_22-18-06.jpg);
    background-size: 498px 846px;
}
.image6{
    background-image: url(/image/photo_2024-11-25_01-50-15.jpg);
    background-size: 498px 846px;
}
.image7{
    background-image: url(/image/photo_2026-03-21_01-22-59.jpg);
    background-size: cover;
}
.image8{
    background-image: url(/image/photo_2026-07-17_02-31-27.jpg);
    background-size: cover;
}

